<a href="/logout">logout</a>
<%= @current_user.name %>


<div class="one"></div>
<div class="two">
	<input type="button" value="sekiguchi">
	<input type="button" value="shota">
</div>
<div class="three">
	ffff
</div>


<style type="text/css">
.one, .two, .three {
	height: 200px;
	display: block;
}

.three {
	border: 2px solid black;
}


</style>