<div class="col-xs-3">
	<p>なかやま</p>
	<p>one talk</p>
<%= link_to "編集", "#" %>
  <%= form_for (@post) do |f| %>
    <h3>Title</h3>
      <%= f.text_field :title %>
      <%= f.submit "投稿" %>
  <% end %>
</div>