// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}



/*.header{
	height: 70px;
	border-bottom: 1px solid #e4e7e9;
}*/
.header_title{
	border: 1.5px solid;
	display: inline-block;
	color: black;
	letter-spacing: .15em;
	font-family: brandon-grotesque;
	/*margin-left: 100px;*/
	font-size: 23px;
	width: 300px;
	margin: 100px 0;
	margin-top: 0;
	padding: 25px;
}
.event_top{
	float: left;
	width: 60%;
	height: auto;
	margin-top: 10px;
	border: solid 1px #e4e7e9;
    position:relative;
    padding: 20px;
    margin: 40px 0;
    width: 60%;
    border: 1px solid #A9CCE3;
    border-radius: 0 4px 4px 4px;
    color: #80888D;
}
.event_top span{
    position:absolute;
    top: -26px;
    left: -1px;
    padding: 5px 25px;
    background-color: #A9CCE3;
    border-radius:4px 4px 0 0;
    color:#fff;
    font-weight:800;
    letter-spacing:.3em;
    line-height: 1em;
}

.post_index{
	width: 75%;
	height: auto;
	margin: auto;
	padding-top: 50px;
}
.Post{
	margin: 0;
	display: inline-block;
	width: 60%;
}
.post_top{
	font-family: brandon-grotesque;
	color: #092e6e;
	font-size: 25px;
	letter-spacing: .1em;
	margin-top: 0;
	margin-left: 40px;
	width: 50%;
	margin-right: 0;
}
.post_form{
	height: 320px;
	float: right;
}


.post_form {
 margin-top: 30px;
 position:relative;
 padding:40px;
 margin: auto;
 width: 25%;
 color: #333333;/* 文字色 */
 background: #fff0f5;/*枠背景色*/ 
 box-shadow: 0 10px 6px -6px #999;
 margin-right: 90px;
}

.title{
 position: absolute;
 top: -1em;
 padding: 0.25em 2em;
 content: "";
 color: #69821b;/* タイトル文字色 */
 font-weight: bold;/*太文字（必要なければ削除）*/
 background-color: rgba(255,182,193,.2);/*テープ色*/
 border-left:2px dotted rgba(0,0,0,.1);
 border-right:2px dotted rgba(0,0,0,.1);
 box-shadow:0 0 5px rgba(0,0,0,0.2); 
 transform: rotate(-5deg);
}

.hero{
	background-image: url(hero.jpg);
	background-position: 0pt -120pt;
	background-size: cover;
	height: 300px;
	background-attachment: scroll;
	background-repeat: no-repeat;
}
.pageNo{
	color: #092e6e;
	font-family: mono45-headline;
	text-align: center;
	padding-top: 100px;
}

.pageNo:before{

}

.back{
	background-color: #eeeeee;
	height: 800px;
}
td{
	margin-right: 50px;
}
.left{
	width: 50%;
	float: left;
}
.right{
	width: 50%;
	float: right;
	overflow-wrap: break-word;
}









