// Place all the styles related to the ushijimas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-background {
	background-image: url("air-atmosphere-cloudiness-139366.jpg");
	width: 100%;
	height: auto;
}


